root, html {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vp;
    min-height: 100vh;
    line-height: 1.5;
}

body * {
    font-family: sans-serif;
}

.content {
    width: 90%;
    margin: 2em auto;
}

.content h1 {
    text-align: center;
}

#new-entry-link {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}

#entries {
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}

#entries > .entry {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr 1fr 1fr;
}

.entry > * {
    padding-left: 2px;
    padding-right: 2px;
}
.entry .last-modified {
    grid-column: 1;
    grid-row: 1;
}

.entry .title {
    grid-column: 2;
    grid-row: 1;
}

form {

}

input, textarea {
    font-size: 1rem;
    width: 100%;
    padding: 15px 10px;
}

input, textarea, input:focus, textarea:focus {
    border: 0px;
    outline: none;
    box-shadow: none;
}

input[name="title"], input[name="title"]:focus {
    border-bottom: 2px dotted black;
}

textarea {
    resize: none;
    height: 80vh;
}
